body{
    margin: 0;
    font-family: calibri;
}

#header{
    width: 100%;
    height: 20vh;
    background-color: #005e90;
}

#buttons_bar{
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #fbad23;
    top: 15vh;
}

#logo_sa{
    margin-left: 10vw;
    margin-top: 2vh;
    height: 7vh;
    width: auto;
}

#text_sahp{
    position: absolute;
    margin-left: 2vw;
    margin-top: -1.5vh;
    height: 18vh;
    width: auto;
}

#lema{
    position: absolute;
    right: 2vw;
    word-break: break-all;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px black;
    color: white;
}

.boton_sup{
    height: 100%;
    width:auto;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 1vh;
    color: #003b5a;
    background-color: transparent;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.boton_sup:hover {
    background-color: #fbad23;
}


.separator{
	background-color: #fbad23;
	margin: 5vh;
	margin-left: 10vw;
	width: 80%;
	height: .1vh;
}

.title{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px black;
	color: #003b5a;
	font-weight: bolder;
	font-size: 3vw;
	margin: 1vh;
}

#historia{
	word-break: inherit;
	text-align: justify;
	margin: 3vh;
	margin-left: 25vw;
	width: 50%;
}

#bottom-info{
	width: 100%;
	font-size: 1vh;
	height: auto;
	bottom: 0%;
	margin-top: 10vh;
	background-color: #005e90;
	border-top: 3px solid #fbad23;
	color: white;
	text-align: center;
}

#logo-evil{
	height: auto;
	margin: .5vw;
	width: 5vw;
}

#web_info{
	position: relative;
	padding-bottom: 1vh;
}

#normas_page{display: none;}

#adm_page{display: none;}

#dir_page{display: none;}

#contact_page{display: none;}

.docs_google{
	border: 0;
	height: 100vh;
	width: 50%;
	margin: 2vh;
	margin-left: 25vw;
}

#estado_opos{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px black;
	color: #003b5a;
	font-size: 1.5vw;
}

#formulario_adm{
	display: none;
	border: 0;
	width: 100%;
	height: 150vh;
	margin-top: 1vh;
}

#adm_results{
	display: none;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px black;
	color: #003b5a;
	font-weight: bolder;
	font-size: 2vw;
	margin: 1vh;
}

#formulario_contacto{
	border: 0;
	width: 100%;
	height: 150vh;
	margin-top: 1vh;
}

.member{
	display: inline-table;
	margin: 10vh;
	margin-left: 18vw;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px black;
	color: #003b5a;
	font-size: 1.5vw;
}

.profile_photo{
	width: 20vw;
	border-radius: 2vw;
	height: auto;
}
/* SLIDER */

#hcg-slider-1{
    margin-top:10vh;
}
#hcg-slider-1 .hcg-slide-container {
	width: 700px;
	height: 300px;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	text-align: center;
	overflow: hidden;
}
.hcg-slides img {
	width: auto;
	border: solid .1vh #fbad23;
    border-radius: .5vh;
    box-shadow: 0 0 1vh #fbad23;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	vertical-align: middle;
}
.hcg-slide-prev, .hcg-slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	text-decoration: none;
}
.hcg-slide-prev:hover, .hcg-slide-next:hover {
	background-color: #000c;
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}
.hcg-slide-number {
	color: #ffffff;
	font-size: 12px;
	padding: 4px 7px;
	position: absolute;
	border-radius: 5px;
	top: 5px;
	left: 5px;
	background-color: rgba(255,255,255,0.30);
}
/************CSS Animation***********/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}




